:root {
  --color-deep-purple: #391B65;
  --color-light-peach: #F4E1D5;
  --color-orange: #F19B60;
  --color-pink: #D96A85;
  --color-lavender: #9F64B5;
  --color-soft-orange: #F7B37D;

  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-light-peach);
  color: var(--color-deep-purple);
}


